<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='stylesheet' href='/static/main.css' />
    <link rel='shortcut icon' type='image/png' href='/static/favicon.png' />
    <title>Cats home</title>
  </head>

  <body>

    <nav class='main-nav'>
      {{#if user}}
        <p class='greeting'><span class='greeting'>Hello,
            <a
              class='simple-link'
              href='/profile'
            >{{user.username}}</a>!</span></p>
      {{else}}
      <p class="greeting">Register or login with user/user1 for auth functionality.</p>
      {{/if}}
      <ul class='nav-list'>
        {{#if user}}

          <li class='nav-tem'><a class='nav-link' href='/'>Home</a></li>
          <li class='nav-tem'><a class='nav-link' href='/about'>About</a></li>
          <li class='nav-tem'><a
              class='nav-link special-link'
              href='/cat/create'
            >Give Us a cat</a></li>
          <li class='nav-tem'><a
              class='nav-link'
              href='/auth/logout'
            >Logout</a></li>

        {{else}}
          <li class='nav-item'><a class='nav-link' href='/'>Home</a></li>
          <li class='nav-item'><a class='nav-link' href='/about'>About</a></li>
          <li class='nav-item'><a
              class='nav-link'
              href='/auth/login'
            >Login</a></li>
          <li class='nav-item'><a
              class='nav-link'
              href='/auth/register'
            >Register</a></li>

        {{/if}}
      </ul>
    </nav>

    <main class='main-content'>
      {{#if errors}}
        <section class='error notifications'>
          {{#each errors}}
            <p>{{this}}</p>
          {{/each}}
        </section>
      {{/if}}
      {{{body}}}
    </main>

  </body>

  {{! <footer>Cats Ltd. 2021</footer> }}

</html>