{{!--
<script src="/static/app.js" type="module"></script> --}}

<form class="search-form" action="/" method="GET">
  <input autofocus type="text" class="search-input" name="search" placeholder="Search..." value={{search}}>
  <input class="submit" type="submit" value="Search"><br>
  <h1>
    <p>Theese are some of the cats that live here sorted by date (descending)</p>
  </h1>
  {{#if cats.prev.page}}
  <a class="prev" href="/?search={{search}}&page={{cats.prev.page}}&limit={{limit}}">Prev</a>
  {{/if}}
  <span class="page">Page {{#if page}}{{page}}{{else}}1{{/if}}</span>
  {{#if cats.next.page}}
  <a class="next" href="/?search={{search}}&page={{cats.next.page}}&limit={{limit}}">Next</a>
  {{/if}}
  <div class="catsOnPage">
    <span class="page">Cats on page: </span>
    <select class="page" name="limit">
      <option value="3">3</option>
      <option value="6">6</option>
      <option value="9">9</option>
    </select>
    <input class="goBtn" type="submit" value="GO">
  </div>
</form>

<div class="cats-grid">
{{#each cats.catsList}}
{{> cat}}
{{else}}
<p>No cats in database. Give us one!</p>
{{/each}}
</div>