<main>
    <div class="desc-card">
        <section>
            <h1>Cat name: <span class="cat-name">{{cat.name}}</span></h1>
            <div class="img-container">
                <img class="details-img" src="{{cat.imageUrl}}" alt="cat picture here"/>
            </div>
        </section>

        <section>
            <h3>Cat Description</h3>
            <p class="description">{{cat.description}}</p>
            <h4>Here from: {{hereFrom}} hours</h4>

            {{#if cat.isAuthor}}
            <div class="buttons">
                <a class="delete" href="/cat/delete/{{cat._id}}">Delete</a>
                <a href="/cat/edit/{{cat._id}}">Edit</a>
            </div>
            {{/if}}
        </section>
    </div>
</main>